<div class="btns btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="myfilter={ }">All</button>
        <!-- 변수 a=10  $scope의 멤버 변수가 자동으로 된다. -->
        <!-- {{ a }} -->
        <!-- <button type="button" class="btn btn-default" ng-click="a=10">Active</button> -->
        <button type="button" class="btn btn-default" ng-click="myfilter={ completed:false}">Active</button>
        <button type="button" class="btn btn-default" ng-click="myfilter={ completed:true}">Completed</button>
    </div>